.head{
    height: 90px;
    border-bottom: 2px #df8e3e solid;
    padding-top: 10px;
}
.head>div>div{
    color: #ff9900;
    font-size: small;
    margin-left: 10px;
}
.head>div>div>span{
    font-size: medium;
    font-weight: bold;

}
.head>div>div:nth-child(2){
    margin-top: 10px;

}

.head img{
    width: 44px;
    height: 50px;

}

.foot{

    height: 150px;
}
.foot>div:first-child{
    border-top: #cccccc 1px solid;
    margin-top: 10px;
}
.footSvg{

    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 15px 5px;
}
.footLogo{
    margin-top: 30px;
    width: 50px;
    height: 50px;
}
.callPhone{
    border-top: #cccccc 1px solid;
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 20px;

}
.Registlabel{
    background-color: white;
    box-shadow: 0 1px 1px rgba(0,0,0,0);
    border:#cccccc 1px solid ;
    padding-right: 5px;
}
.callPhone span{
    color:#ff9900 ;
    font-size: x-large;
    font-weight: bold;
}
.information {
    display: inline-block;
}
.text-red{
    color: red;

}
.margin-bottom-sm{
    margin-bottom: 10px;
}
/*---------------------------------消息提示框-----------------------------------------*/
.PromptBox{
    position: fixed;
    top: 150px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #f9fddd;
    border-radius: 17px;
    color: #f49302;
    font-weight: bold;
    width: 200px;
    height: 35px;
    border: 1px solid #e5d2a7;
    padding-top: 0px;
    text-align: center;
    padding: 5px;
}
